
<title></title>
<link rel="stylesheet" href="CSS/changepasswordCSS.css">
<body>
    <div class="login-box">
      <h1><i class="fab fa-paypal nav-logo"></i> Change Password</h1>

      <div class="textbox">
        <i class="fas fa-at"></i>
        <input type="text" ng-model="user" placeholder="User Name">
      </div>

      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" ng-model="cupassword" placeholder="Current Password">
      </div>
      
      <div class="textbox">
        <i class="fas fa-unlock-alt"></i>
          <input type="text" ng-model="nepassword" placeholder="New Password">
      </div>
      
      <div class="textbox">
        <i class="fas fa-check"></i>
          <input type="text" ng-model="copassowrd" placeholder="Confirm Password">
      </div>
      

      <input type="button" class="btn" ng-click="sunbitClick()" value="Submit">
      <input type="button" class="btn" ng-click="back()" value="Back">
    </div>
</body>