*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.contact-section{
  background-image: linear-gradient(90deg,#010c3b,#06348a,#020c3b);
  background-size: cover;
  padding: 50px 0;
  height: 100vh;
  width:100%;
}
.contact-section h1{
  text-align: center;
  color: #ddd;
  margin-bottom: 40px;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 20px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: visible;
}

.contact-form-text{    
  border: 1.5px solid rgba(1, 1, 250, 0.658);
  display: block;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  background: rgba(13, 133, 189, 0.404);
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
::placeholder {
  color:#f3f6f7ea;
}
.contact-form-text:focus{
  box-shadow: 0 0 5px #051adb, 0 0 3px #0867e2e7, 0 0 8px #0d58bbad, 0 0 10.3px #0c93d1, 
  0 0 11.4px #490de0, 0 0 5px #7525cfbd, 0 0 15px #5cceebc0;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  border: 1.5px solid rgba(1, 1, 250, 0.658);
  float: right;
  background: #0a4580;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-left:10px;
}
.contact-form-btn:hover{
  box-shadow: 0 0 5px #051adb, 0 0 3px #0867e2e7, 0 0 8px #0d58bbad, 0 0 10.3px #0c93d1, 
  0 0 11.4px #490de0, 0 0 5px #7525cfbd, 0 0 15px #5cceebc0;
  background: #148ddd;
}
