body{
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  animation: bodyanmi 3s forwards;
  animation-delay: 1s;
}
ul {
  position: absolute;
  top: 6%;
  left: 43%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display:flex;
  border:8px solid transparent;
  animation: nameborderflash 1.6s infinite linear;
  animation-delay: 6s;
}
ul li {
  list-style: none;
  font-family: Impact;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 10px;
  color: transparent;
  text-shadow: 0 0 7px #000, 0 0 20px #000;
  animation: nameflash 0.6s infinite linear;
  animation-delay: 3s;
}

#sticky1{
  width:16%;
  height:45%;
  top: 3%;
  left: 79%;
  font-size:26px;
  color:white;
  text-align: justify;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0px;
  opacity: 0.95;
  position: absolute;
  animation: stickyoneflash 0.9s linear;
  animation-fill-mode: forwards;
  animation-delay: 7.3s;
  z-index:10000;
}
#fadeout{
  width:86%;
  height:26%;
  padding:2%;
  top:55%;
  left: 5%;
  font-family: sans-serif;
  background: transparent;
  opacity: 1;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  animation: slide 20s infinite;
  animation-delay: 9s;
  border:none;
  border-radius: 5px;
  z-index: 1;
}
#sticky{
  width:16%;
  height:45%;
  top: 3%;
  left: 6%;
  font-size:26px;
  color:white;
  text-align: justify;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 0px;
  opacity: 0.95;
  position: absolute;
  animation: stickyflash 0.7s linear;
  animation-fill-mode: forwards;
  animation-delay: 6.8s;
  z-index: 10000;
}
.neon{
  letter-spacing: 17px;
  font-weight:900;
  font-size: 2.5em;
  position: absolute;
  top: -2%;
  left: 52%;
  font-family: 'Futura';
  color: transparent;
  text-align: center;
  animation: neonflash 1.8s linear;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;
}
#headerborder{
  border-radius: 19px;
  background:transparent;
  border-style: red solid;
  border-width: 3px;
  height:31%;
  width: 43%;
  position: absolute;
  top:15%;
  left:29%;
  animation: headerborderflash 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
#header{
  font-size: 13em;
  font-family: Impact;
  text-transform: uppercase;
  letter-spacing: 0px;
  left: 10%;
  position: absolute;
  top:47%;
  left:50%;
  font-weight:500;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-size: 180%;
  background-position: center;
  background: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: backgroundAnim 100s infinite;
  animation-delay: 7s;
}

.box{
  border-radius: 25px;
  box-shadow: 0px 0px 18px 9px rgba(0, 0, 0, 0.93);
  padding: 0px;
  margin:0 auto;
  color: white;
  width: 100%;
  height: 100%;
  font-family: 'Century Gothic', sans-serif;
  text-align: center;
  background-color: rgba(0,0,0,0.09);

}
.your-class::-webkit-input-placeholder {
    color: #b2cde0;
 }

#stickyheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: transparent;
  color: #fff;
  opacity: 0.0;
}
#notes{
  border-radius: 7px;
  border: none transparent;
  outline: none;
  background-color:rgba(0,0,0,0.0);
  width:100%;
  height:98%;
  position: absolute;
  left:0%;
  top:1%;
  text-align: center;
  animation: notesflash 0.7s linear;
  animation-fill-mode: forwards;
  animation-delay: 6.8s;
  z-index: 10001;
}
.neonText{
  letter-spacing: 5px;
  font-weight:900;
  font-size:1em;
  position: absolute;
  top: 0%;
  left: 53%;
  font-family: 'Futura';
  color: white;
  text-shadow: 0 0 5px #5752C3, 0 0 10px #E01B51, 0 0 20px #5752C3, 0 0 30px #E01B51, 
    0 0 40px #E01B51, 0 0 55px #F2F083, 0 0 75px #5752C3;
  text-align: center;
}

#sticky1header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  opacity: 0.0;
}
#notes1{
  border-radius: 7px;
  border: none transparent;
  outline: none;
  background-color:rgba(0,0,0,0.0);
  width:100%;
  height:98%;
  position: absolute;
  left:0%;
  top:1%;
  text-align: center;
  animation: notesoneflash 0.9s linear;
  animation-fill-mode: forwards;
  animation-delay: 7.3s;
}
.neonText1{
  letter-spacing: 5px;
  font-weight:900;
  font-size:1em;
  position: absolute;
  top: 0%;
  left: 53%;
  font-family: 'Futura';
  color: #1DE9E1;
  text-shadow: 0 0 5px #F5237F, 0 0 10px #6665A5, 0 0 20px #EC091F, 0 0 30px #F5237F, 
    0 0 40px #F5237F, 0 0 55px #F5237F, 0 0 75px #EC091F;
  text-align: center;
}

#clockDisplay{
  width:40%;
  height:23%;
  top: 47%;
  left: 30%;
  position: absolute;
  letter-spacing: 3px;
  font-size: 2.6em;
  opacity: 0.88;
  font-family: Impact;
  color: transparent;
  animation: clockflash 0.2s forwards;
  animation-delay: 11s;

}

.scroll {
  height: 6%;
  width: 90%; 
  top: 93%;
  left:5%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.0);
  animation: scrollflash 0.5s forwards;
  animation-delay: 8.4s;
  
}
.scroll p {
  position: absolute;
  width: 100%;
  height: 40%;
  font-size:2em;
  font-weight: 600;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform:translateX(-100%);
  animation: scroll 10s linear infinite;
  animation-delay: 9.5s;
  color:transparent;
}

@keyframes bodyanmi{
  30% {
    background-image: url(images/background3.jpg);
  }
  32% {
    background: black;
  }
  33% {
    background-image: url(images/background3.jpg);
  }  
  78% {
    background-image: url(images/background3.jpg);
  }

  93% {
    background: black;
  }
  100% {
    background-image: url(images/background3.jpg);
  }
}
@keyframes backgroundAnim {
  0%{
    background-position: 10% 20%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  10%{
    background-position: 70%,40%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  20% {
    background-position: 20% 60%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  30% {
    background-position: 70%,80%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  40% {
    background-position: 20% 60%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  50% {
    background-position: 70% 70%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  60% {
    background-position: 40% 60%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  70% {
    background-position: 70% 50%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  80% {
    background-position: 20% 40%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  90% {
    background-position: 70% 30%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }
  100% {
    background-position: 20% 20%;
    -webkit-text-stroke: 2px #FE5D64;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: url("images/Marvel3.jpg");
  }

}
@keyframes slide {
  0%{
    background-image: url("images/Marvel4.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #00FFEE, 0 0 10px #e22b43, 0 0 20px #00FFEE, 0 0 30px #00FFEE, 
    0 0 40px #e22b43, 0 0 55px #00FFEE, 0 0 75px #CA1F60;
  }
  20% {
    background-image: url("images/Marvel10.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #00FFEE, 0 0 10px #e22b43, 0 0 20px #FFF700, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #FFF700, 0 0 75px #00FFEE;
  }
  40% {
    background-image: url("images/Marvel6.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  60% {
    background-image: url("images/Marvel9.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #FFF700, 0 0 10px #e22b43, 0 0 20px #FFF700, 0 0 30px #e22b43, 
    0 0 40px #FFF700, 0 0 55px #FFF700, 0 0 75px #FFF700;
  }
  80% {
    background-image: url("images/Marvel8.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #00FFEE, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #00FFEE, 0 0 55px #00FFEE, 0 0 75px #CA1F60;
  }
  100%{
    background-image: url("images/Marvel4.jpg");
    background-size:cover;
    box-shadow: 0 0 5px #FFF700, 0 0 10px #FFF700, 0 0 20px #FFF700, 0 0 30px #FFF700, 
    0 0 40px #e22b43, 0 0 55px #FFF700, 0 0 75px #CA1F60;
  }
}
@keyframes headerborderflash{
  0%{
    background-color: transparent;
    box-shadow: none;
  }
  1%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  4%{
    background-color: transparent;
    box-shadow: none;
  }
  5%{
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #444, 0 0 10px #FFF41D, 0 0 10px #444, 
      0 0 20px #E0ECF0, 0 0 25px #333, 0 0 35px #E0ECF0;
  }
  6%{
    background-color: transparent;
    box-shadow: none;
  }
  19%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  25%{
    background-color: transparent;
    box-shadow: none;
  }
  50%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  56%{
    background-color: transparent;
    box-shadow: none;
  }
  66%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  86%{
    background-color: transparent;
    box-shadow: none;
  }
  93%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  94%{
    background-color: transparent;
    box-shadow: none;
  }
  96%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }
  97%{
    background-color: transparent;
    box-shadow: none;
  }
  100%{
    background-color: #91090F;
    box-shadow: 0 0 5px #e22b43, 0 0 10px #e22b43, 0 0 20px #e22b43, 0 0 30px #e22b43, 
    0 0 40px #e22b43, 0 0 55px #e22b43, 0 0 75px #CA1F60;
  }

}
@keyframes stickyflash{
  0%{
    background:transparent;
    border:none;
  }
  1%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
  4%{
    background:transparent;
    border:none;
  }
  5%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
  6%{
    background:transparent;
    border:none;
  }
  19%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
  25%{
    background:transparent;
    border:none;
  }
  50%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
  56%{
    background:transparent;
    border:none;
  }
  66%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
  }
  86%{
    background:transparent;
    border:none;
  }
  93%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
  94%{
    background:transparent;
    border:none;
  }
  96%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
  }
  97%{
    background:transparent;
    border:none;
  }
  100%{
    background-image: url("images/IronMan.png");
    border: 2px solid #f44268;
    border-radius: 5px;
    background-size: cover;
  }
}
@keyframes stickyoneflash{
  0%{
    background:transparent;
    border:none;
  }
  1%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  4%{
    background:transparent;
    border:none;
  }
  5%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  6%{
    background:transparent;
    border:none;
  }
  19%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  25%{
    background:transparent;
    border:none;
  }
  50%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  56%{
    background:transparent;
    border:none;
  }
  66%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  86%{
    background:transparent;
    border:none;
  }
  93%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  94%{
    background:transparent;
    border:none;
  }
  96%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
  97%{
    background:transparent;
    border:none;
  }
  100%{
    border: 2px solid #f44268;
    border-radius: 5px;  
    background-image: url("images/Captain.jpg");
    background-size: cover;
  }
}
@keyframes placeholderanmi{
  0%{
    color:transparent;
    text-shadow: none;
  }
  1%{
    color: #C9FAF1;
    text-shadow: 0 0 5px #0C5191, 0 0 5px #0C5191, 0 0 10px #C9FAF1, 0 0 20px #D6ECFB, 
      0 0 10px #0C5191, 0 0 25px #0C5191  , 0 0 25px #0C5191;
  }
  4%{
    color:transparent;
    text-shadow: none;
  }
  5%{
    color: #C9FAF1;
    text-shadow: 0 0 5px #0C5191, 0 0 5px #0C5191, 0 0 10px #C9FAF1, 0 0 20px #D6ECFB, 
      0 0 10px #0C5191, 0 0 25px #0C5191  , 0 0 25px #0C5191;
  }
  6%{
    color:transparent;
    text-shadow: none;
  }
  60%{
    color: #C9FAF1;
    text-shadow: 0 0 5px #0C5191, 0 0 5px #0C5191, 0 0 10px #C9FAF1, 0 0 20px #D6ECFB, 
      0 0 10px #0C5191, 0 0 25px #0C5191  , 0 0 25px #0C5191;
  }
  64%{
    color:transparent;
    text-shadow: none;
  }
  69%{
    color: #C9FAF1;
    text-shadow: 0 0 5px #0C5191, 0 0 5px #0C5191, 0 0 10px #C9FAF1, 0 0 20px #D6ECFB, 
      0 0 10px #0C5191, 0 0 25px #0C5191  , 0 0 25px #0C5191;
  }
  78%{
    color:transparent;
    text-shadow: none;
  }
  100%{
    color: #C9FAF1;
    text-shadow: 0 0 5px #0C5191, 0 0 5px #0C5191, 0 0 10px #C9FAF1, 0 0 20px #D6ECFB, 
      0 0 10px #0C5191, 0 0 25px #0C5191  , 0 0 25px #0C5191;
  }
}
@keyframes notesflash{

  0%{
    box-shadow: none;
  }
  1%{
    box-shadow: 0 0 2px #FFF700, 0 0 5px #FFF700, 0 0 10px #777, 0 0 10px #02B1F0, 
    0 0 20px #E0ECF0, 0 0 25px #FFF700, 0 0 35px #E0ECF0;
  }
  4%{
    box-shadow: none;
  }
  5%{
    box-shadow: 0 0 2px #FFF700, 0 0 5px #FFF700, 0 0 10px #333, 0 0 10px #444, 
    0 0 20px #E0ECF0, 0 0 25px #333, 0 0 35px #FFF700;
  }
  6%{
    box-shadow: none;
  }
  60%{
    box-shadow: 0 0 2px #FFF700, 0 0 5px #FFF700, 0 0 10px #777, 0 0 10px #02B1F0, 
    0 0 20px #E0ECF0, 0 0 25px #FFF700, 0 0 35px #FFF700;
  }
  64%{
    box-shadow: none;
  }
  69%{
    box-shadow: 0 0 2px #FFF700, 0 0 5px #444, 0 0 10px #333, 0 0 10px #444, 
    0 0 20px #E0ECF0, 0 0 25px #FFF700, 0 0 35px #E0ECF0;
  }
  78%{
    box-shadow: none;
  }
  100%{
    box-shadow: 0 0 2px #FFF700, 0 0 5px #FFF700, 0 0 10px #FFF700, 0 0 10px #FFF700, 
    0 0 20px #FFF700, 0 0 25px #FFF700, 0 0 35px #FFF700;
  }
}

@keyframes notesoneflash{

  0%{
    box-shadow: none;
  }
  1%{
    box-shadow: 0 0 2px #0C5191, 0 0 5px #FFF700, 0 0 10px #777, 0 0 10px #02B1F0, 
    0 0 20px #E0ECF0, 0 0 25px #0C5191, 0 0 35px #0C5191;
  }
  4%{
    box-shadow: none;
  }
  5%{
    box-shadow: 0 0 2px #0C5191, 0 0 5px #FFF700, 0 0 10px #333, 0 0 10px #444, 
    0 0 20px #E0ECF0, 0 0 25px #333, 0 0 35px #0C5191;
  }
  6%{
    box-shadow: none;
  }
  60%{
    box-shadow: 0 0 2px #0C5191, 0 0 5px #0C5191, 0 0 10px #0C5191, 0 0 10px #0C5191, 
    0 0 20px #E0ECF0, 0 0 25px #0C5191, 0 0 35px #FFF700;
  }
  64%{
    box-shadow: none;
  }
  69%{
    box-shadow: 0 0 2px #0C5191, 0 0 5px #0C5191, 0 0 10px #333, 0 0 10px #0C5191, 
    0 0 20px #0C5191, 0 0 25px #FFF700, 0 0 35px #0C5191;
  }
  78%{
    box-shadow: none;
  }
  100%{
    box-shadow: 0 0 2px #0C5191, 0 0 5px #0C5191, 0 0 10px #0C5191, 0 0 10px #0C5191, 
    0 0 20px #0C5191, 0 0 25px #0C5191, 0 0 35px #FFF700;
  }
}

@keyframes clockflash{
  0%{
    color:transparent;
    text-shadow: none;
  }
  1%{
    color: #fff;
    text-shadow: 0 0 5px #E7FAFB, 0 0 5px #E7FAFB, 0 0 10px #A7E1F5, 0 0 20px #D6ECFB, 
      0 0 10px #A7E1F5, 0 0 25px #D6ECFB  , 0 0 25px #E7FAFB;
  }
  4%{
    color: transparent;
    text-shadow: none;
  }
  5%{
    color: #fff;
    text-shadow: 0 0 5px #E7FAFB, 0 0 5px #E7FAFB, 0 0 10px #A7E1F5, 0 0 20px #D6ECFB, 
      0 0 10px #A7E1F5, 0 0 25px #D6ECFB  , 0 0 25px #E7FAFB;
  }

  70%{
    color:#96081C;
    text-shadow: none;
  }
  75%{
    color: #fff;
    text-shadow: 0 0 5px #E7FAFB, 0 0 5px #E7FAFB, 0 0 10px #A7E1F5, 0 0 20px #D6ECFB, 
      0 0 10px #A7E1F5, 0 0 25px #D6ECFB  , 0 0 25px #E7FAFB;
  }
  98%{
    color: #96081C;
    text-shadow: none;
  }
  100%{
    color: #fff;
    text-shadow: 0 0 5px #E7FAFB, 0 0 5px #E7FAFB, 0 0 10px #A7E1F5, 0 0 20px #D6ECFB, 
      0 0 10px #A7E1F5, 0 0 25px #D6ECFB  , 0 0 25px #E7FAFB;
  }
}
@keyframes neonflash{
  0% {
    color: #888;
  }
  5% {
    color: #fff900;
    text-shadow: 0 0 5px #42f4e2, 0 0 10px #42f4e2, 0 0 20px #42f4e2, 0 0 30px #42f4e2, 
     0 0 40px #42f4e2, 0 0 55px #ff0080, 0 0 75px #ff0080;
  }
  30% {
    color: #888;
    text-shadow: 0 0 5px #666, 0 0 10px #42f4e2, 0 0 20px #666, 0 0 30px #42f4e2, 
     0 0 40px #666, 0 0 55px #666, 0 0 75px #666;
  }
  31% {
    color: white;
    text-shadow: 0 0 5px #fff900, 0 0 10px #42f4e2, 0 0 20px #fff900, 0 0 30px #42f4e2, 
     0 0 40px #42f4e2, 0 0 55px #42f4e2, 0 0 75px #42f4e2;
  }
  100% {
    color: white;
    text-shadow: 0 0 5px #42f4e2, 0 0 10px #42f4e2, 0 0 20px #42f4e2, 0 0 30px #42f4e2, 
     0 0 40px #42f4e2, 0 0 55px #ff0080, 0 0 75px #ff0080;
  }
}
@keyframes nameflash{
  0% {
    color: #666;
    text-shadow: 0 0 7px #000, 0 0 20px #000;
  }
  5% {
    color: #fff900;
    text-shadow: 0 0 7px #777, 0 0 20px #444;
  }
  20% {
    color: #fff900;
    text-shadow: 0 0 7px #000, 0 0 20px #000;
  }
  30% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }
  35% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #fff900;
  }
  75% {
    color: #fff900;
    text-shadow: 0 0 7px #444, 0 0 20px #fff900;
  }
  80% {
    color: #666;
    text-shadow: 0 0 7px #000, 0 0 20px #000;
  }
  84% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #444, 0 0 20px #000;
  }

}
@keyframes nameborderflash{
  0%{
    border:8px solid #666;
    box-shadow: 0 0 2px #666, 0 0 5px #666, 0 0 10px #666, 0 0 10px #e22b43, 
      0 0 20px #666, 0 0 25px #666, 0 0 35px #FFF41D;
  }
  1%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #FFF41D, 0 0 10px #FFF41D, 0 0 10px #e22b43, 
      0 0 20px #FFF41D, 0 0 25px #666, 0 0 35px #FFF41D;
  }
  30%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #FFF41D, 0 0 10px #FFF41D, 0 0 10px #FFF41D, 
      0 0 20px #FFF41D, 0 0 25px #FFF41D, 0 0 35px #FFF41D;
  }
  31%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #666, 0 0 10px #666, 0 0 10px #e22b43, 
      0 0 20px #666, 0 0 25px #666, 0 0 35px #FFF41D;
  }
  60%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #FFF41D, 0 0 10px #666, 0 0 10px #FFF41D, 
      0 0 20px #666, 0 0 25px #666, 0 0 35px #FFF41D;
  }
  80%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #FFF41D, 0 0 10px #FFF41D, 0 0 10px #FFF41D, 
      0 0 20px #FFF41D, 0 0 25px #FFF41D, 0 0 35px #FFF41D;
  }
  83%{
    border:8px solid #666;
    box-shadow: 0 0 2px #666, 0 0 5px #666, 0 0 10px #FFF41D, 0 0 10px #666, 
      0 0 20px #666, 0 0 25px #FFF41D, 0 0 35px #666;
  }
  86%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #666, 0 0 10px #FFF41D, 0 0 10px #666, 
      0 0 20px #FFF41D, 0 0 25px #FFF41D, 0 0 35px #666;
  }
  100%{
    border:8px solid #FFF41D;
    box-shadow: 0 0 2px #FFF41D, 0 0 5px #FFF41D, 0 0 10px #FFF41D, 0 0 10px #FFF41D, 
      0 0 20px #FFF41D, 0 0 25px #FFF41D, 0 0 35px #FFF41D;
  }

}
@keyframes scrollflash{
  0%{
    box-shadow: none;
  }
  1%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
    border: 2px solid #152f59;
    background-color: rgba(100,0,50,0.2);
  }
  4%{
    box-shadow: none;
  }
  5%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
    border: 2px solid #152f59;
    background-color: rgba(100,0,50,0.2);
  }
  6%{
    box-shadow: none;
  }
  60%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
    border: 2px solid #152f59;
    background-color: rgba(100,0,50,0.2);
  }
  64%{
    box-shadow: none;
  }
  69%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
    border: 2px solid #152f59;
    background-color: rgba(100,0,50,0.2);
  }
  78%{
    box-shadow: none;
  }
  100%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
    border: 2px solid #152f59;
    background-color: rgba(100,0,50,0.2);
  }
}
@keyframes fadeoutflash{
  0%{
    box-shadow: none;
  }
  1%{
    box-shadow: 0 0 2px #7206A1, 0 0 5px #7206A1, 0 0 10px #08F9AA, 0 0 10px #7206A1, 
    0 0 20px #08F9AA, 0 0 25px #7206A1, 0 0 35px #7206A1;
  }
  4%{
    box-shadow: none;
  }
  5%{
    box-shadow: 0 0 5px #efe51c, 0 0 10px #152f59, 0 0 20px #efe51c, 0 0 30px #137c8c, 
      0 0 40px #efe51c, 0 0 55px #137c8c, 0 0 75px #137c8c;
  }
  6%{
    box-shadow: none;
  }
  60%{
    box-shadow: 0 0 2px #7206A1, 0 0 5px #7206A1, 0 0 10px #08F9AA, 0 0 10px #7206A1, 
    0 0 20px #08F9AA, 0 0 25px #7206A1, 0 0 35px #7206A1;
  }
  64%{
    box-shadow: none;
  }
  65%{
    box-shadow: 0 0 2px #7206A1, 0 0 5px #7206A1, 0 0 10px #08F9AA, 0 0 10px #7206A1, 
    0 0 20px #08F9AA, 0 0 25px #7206A1, 0 0 35px #7206A1;
  }
  98%{
    box-shadow: none;
  }
  100%{
    box-shadow: 0 0 2px #7206A1, 0 0 5px #7206A1, 0 0 10px #08F9AA, 0 0 10px #7206A1, 
    0 0 20px #08F9AA, 0 0 25px #7206A1, 0 0 35px #7206A1;
  }
}
ul li:nth-child(1){
  animation-delay: 0.3s;
}
ul li:nth-child(2){
  animation-delay: 3.4s;
}
ul li:nth-child(3){
  animation-delay: 1.5s;
}
ul li:nth-child(4){
  animation-delay: 2.6s;
}
ul li:nth-child(5){
  animation-delay: 5.5s;
}
ul li:nth-child(6){
  animation-delay: 6.8s;
}
ul li:nth-child(7){
  animation-delay: 1.4s;
}
@keyframes scroll{
  0% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
    color:#efe51c;
    text-shadow: 0 0 5px #efe51c, 0 0 10px #efe51c, 0 0 10px #e82579, 0 0 10px #efe51c, 
      0 0 40px #e82579, 0 0 55px #efe51c, 0 0 75px #e82579;
  }
  25% { 
    -moz-transform: translateX(-50%); /* Browser bug fix */
    -webkit-transform: translateX(-50%); /* Browser bug fix */
    transform: translateX(-50%);
    color:#45FDE0;
    text-shadow: 0 0 5px #45FDE0, 0 0 10px #efe51c, 0 0 10px #45FDE0, 0 0 10px #45FDE0, 
      0 0 40px #45FDE0, 0 0 55px #45FDE0, 0 0 75px #45FDE0;
  }
  100% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
    color:#4B45FD;
    text-shadow: 0 0 5px #4B45FD, 0 0 10px #4B45FD, 0 0 10px #4B45FD, 0 0 10px #efe51c, 
      0 0 40px #4B45FD, 0 0 55px #4B45FD, 0 0 75px #4B45FD;
  }
}
}