<link rel="stylesheet" href="CSS/homeCSS.css">

<div class="row">
	<div class='col-8' style="margin-bottom: 50px">
		<div style="text-align: center; padding-top: 30px">
			<input type="text" ng-model="myfilter" style="margin:auto">
		</div>
		<div class="container">
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover table-mc-light-blue" style="margin: auto">
					<thead>
						<th>NO.</th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>DOB</th>
						<th>Salary</th>
						<th>Zip</th>
						<th>Status</th>
						<th>Address</th>
						<th>Edit</th>
					</thead>
					<tbody>
						<tr ng-repeat="data in mystudents | filter: myfilter">
							<td>{{$index + 1}}</td>
							<td>{{data.firstName + " " + data.lastName}}</td>
							<td>{{data.email}}</td>
							<td>{{data.phone}}</td>
							<td>{{data.DOB|date:'MM/dd/yyyy'}}</td>
							<td ng-bind-html="data.salary|salaryLevel"></td>
							<td>{{data.zip}}</td>
							<td><i class="fas fa-circle" ng-class="data.status === 'active' ? 'active' : 'inactive'"></i></td>
							<td>{{data.address}}</td>
							<td><i class="far fa-edit" ng-click="edit($index)"></i></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
  	<div class='col-4' id="studentsInput" style="margin-bottom: 50px">
		<div class="row">
	      <div style="margin-top: 35px" class="col-12 mr-auto" align="justify-content-center">
	        <p align="left">FIRST NAME:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline ml-auto">	
	          <input id="firstname" class="form-control mr-sm-2 formInput" placeholder="First Name" ng-model="firstname" style="margin-bottom: 20px">
	        </form>
	      </div> 

	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">LAST NAME:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" ]>
	        <form class="form-inline  ml-auto">
	          <input id="lastname" class="form-control formInput" placeholder="Last Name" ng-model="lastname" style="margin-bottom: 20px">
	        </form>
	      </div> 
	       
	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">PHONE:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline ml-auto">
	          <input id="phone" class="form-control formInput" placeholder="Phone Name" ng-model="phone" style="margin-bottom: 20px">
	        </form>
	      </div> 
	       
	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">E-MAIL:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline my-2 my-lg-0 ml-auto">
	          <input id="email" class="form-control formInput" placeholder="E-Mail" ng-model="email" style="margin-bottom: 20px">
	        </form>
	      </div> 
	       
	      <div class="col-12 mr-auto" align="justify-content-center">
	        <p align="left">STATUS:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center">
	        <form class="form-inline ml-auto">
	          <input id="status" class="form-control mr-sm-2 formInput" placeholder="Status" ng-model="status" style="margin-bottom: 20px">
	        </form>
	      </div>  
	       
	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">DOB:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline my-2 my-lg-0 ml-auto">
	          <input id="DOB" class="form-control formInput" placeholder="Date Of Birth" ng-model="DOB" style="margin-bottom: 20px">
	        </form>
	      </div>  
	       
	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">Salary:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline my-2 my-lg-0 ml-auto">
	          <input id="Salary" class="form-control formInput" placeholder="Salary" ng-model="salary" style="margin-bottom: 20px">
	        </form>
	      </div>  
	       
	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">Zipcode:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	        <form class="form-inline my-2 my-lg-0 ml-auto">
	          <input id="Zip" class="form-control formInput" placeholder="Zipcode" ng-model="zip" style="margin-bottom: 20px">
	        </form>
	      </div>

	      <div class="col-12 mr-auto" align="justify-content-center" >
	        <p align="left">Address:</p>
	      </div>
	      <div class="col-12 ml-auto" align="justify-content-center" >
	      	<div id="summernote">Hello Summernote</div>
	      </div>

	      <div class="col-12" align="justify-content-center">
	        <br>
	        <button align="right" id="submitBtn" ng-click="submit()"class="btn-danger btn-lg">UPDATE</button>
	      </div>
	    </div>

  	</div>
</div>